/*Colors and fonts*/
*{
	font-family: 'Lora', serif;
}
body {
	background: #f7efde;
	color: rgb(50, 50, 50);
	font-family: 'Lora', serif;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: 'Playfair Display', serif;
}

h1 {
	color: #d8acfc;
	font-size: 32px;
	font-weight: 900;
}

h2 {
	color: #DBBBF5;
	font-size: 32px;
	font-weight: 300;
}

a {
	font-family: 'Playfair Display', serif;
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
}
a:hover {
	color: black;
}

/*Custom design with class*/

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background: #fbf7f0;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}
.img-circle {
	border-radius: 50%;
}
.btn-blue {
	background-color: #d8acfc;
	color: white;
	padding: 15px 20px;
	border-radius: 12px;
}
.btn-blue :hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;

}
.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: #DBBBF5;
}
#introduction p {
	margin-bottom: 40px;
}